---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Stefan Kanazir"
  description="Frontend Engineer based in Belgrade, Serbia"
>
  <main class="flex-1">
    <section class="mt-12 flex flex-col gap-y-4">
      <p>Frontend Engineer based in Belgrade, Serbia.</p>

      <p>
        Currently, I work at

        <a
          href="https://constel.co/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500 transition-colors hover:text-blue-700"
        >
          Constellation
        </a>

        building all-in-one SaaS solutions for marketing automation.
      </p>

      <p>
        Previously, I was one of the first in-house frontend engineers at

        <a
          href="https://ananas.rs/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500 transition-colors hover:text-blue-700"
        >
          Ananas Ecommerce
        </a>

        , the largest online marketplace in the Balkans, where I focused on
        optimizing web performance.
      </p>
    </section>
  </main>
</BaseLayout>
