---
const socialLinks = [
  {
    label: "github",
    src: "https://github.com/stefan-kanazir",
  },
  {
    label: "linkedin",
    src: "https://www.linkedin.com/in/stefan-kanazir/",
  },
  {
    label: "twitter",
    src: "https://x.com/StefanKanazir",
  },
];
---

<footer
  class="border-t-black-400 mt-6 flex h-16 w-full items-center justify-center gap-x-6 border-t"
>
  {
    socialLinks.map(({ label, src }) => (
      <a
        href={src}
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-500 underline transition-colors hover:text-gray-700"
      >
        {label}
      </a>
    ))
  }
</footer>
